<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head">
</head>
<body>
  <nav th:replace="index::div"></nav>
  <header>
    <div class="intro-text-container text-center py-5">
      <h2 class="intro-titulo" style="background-color: rgba(255, 255, 255, 0.9); display: inline-block; padding: 20px 30px; color: #3a4e38; font-size: 2rem;">¡Bienvenida a nuestra tienda!</h2>
      <div class="intro-texto" style="background-color: rgba(255, 255, 255, 0.9); padding: 20px 30px; color: #3a4e38; font-size: 1.3rem;">
        <p>Aquí encontrarás una selección única de productos de macramé y crochet, diseñados con amor y atención al detalle. Descubre accesorios, ropa y decoraciones que dan un toque especial a cualquier ocasión.</p>
        <p>¿Te gusta crear? Nuestros kits DIY te proporcionan todo lo necesario para que puedas hacer tus propias piezas desde casa, con materiales de calidad y guías fáciles de seguir. Tanto si eres principiante como un experto, tenemos algo para ti.</p>
        <p>Déjate inspirar y disfruta del arte de crear con tus propias manos. ¡Es hora de dar vida a tus ideas!</p>
      </div>
    </div>
  </header>
  
  <main class="container my-5">
    <div class="row g-0 mb-5">
      <div class="col-6 p-0 position-relative">
        <h3 class="carousel-title text-center" style="background-color: rgba(255, 255, 255, 0.9); position: absolute; top: -50px; left: 50%; transform: translateX(-50%); padding: 10px 20px; color: #3a4e38; font-size: 1.5rem;">Productos de Crochet</h3>
        <div id="carouselExampleCaptions1" class="carousel slide w-100" data-bs-ride="carousel" style="position: relative;">
          <div class="carousel-inner" style="height: 350px;">
            <div class="carousel-item active">
              <img src="/fotos/crochet/topAzul1.jpg" class="d-block w-75 mx-auto" alt="Imagen 1" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
              <img src="/fotos/crochet/topBN1.jpg" class="d-block w-75 mx-auto" alt="Imagen 2" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
              <img src="/fotos/crochet/topColores1.jpg" class="d-block w-75 mx-auto" alt="Imagen 2" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
              <img src="/fotos/crochet/topMorado1.jpg" class="d-block w-75 mx-auto" alt="Imagen 2" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
              <img src="/fotos/crochet/bufandaGris1.jpg" class="d-block w-75 mx-auto" alt="Imagen 2" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
  
      <div class="col-6 p-0 position-relative">
        <h3 class="carousel-title text-center" style="background-color: rgba(255, 255, 255, 0.9); position: absolute; top: -50px; left: 50%; transform: translateX(-50%); padding: 10px 20px; color: #3a4e38; font-size: 1.5rem;">Producto de Macramé</h3>
        <div id="carouselExampleCaptions2" class="carousel slide w-100" data-bs-ride="carousel" style="position: relative;">
          <div class="carousel-inner" style="height: 350px;">
            <div class="carousel-item active">
              <img src="/fotos/macrame/pulseraArbol.jpg" class="d-block w-75 mx-auto" alt="Imagen 3" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
              <img src="/fotos/macrame/pulseraHojas.jpg" class="d-block w-75 mx-auto" alt="Imagen 4" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
              <img src="/fotos/macrame/collarArbol.jpg" class="d-block w-75 mx-auto" alt="Imagen 4" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
              <img src="/fotos/macrame/pulseraHojas.jpg" class="d-block w-75 mx-auto" alt="Imagen 4" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
            <div class="carousel-item">
              <img src="/fotos/macrame/pulseraZigZag.jpg" class="d-block w-75 mx-auto" alt="Imagen 4" style="object-fit: cover; height: 350px;">
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  
    <div class="intro-text-container text-center py-5">
      <h2 class="intro-titulo" style="background-color: rgba(255, 255, 255, 0.9); display: inline-block; padding: 20px 30px; color: #3a4e38; font-size: 2rem;">¿Quieres hacerlo tú misma?</h2>
      <div class="intro-texto" style="background-color: rgba(255, 255, 255, 0.9); padding: 20px 30px; color: #3a4e38; font-size: 1.3rem;">
        <p>Descubre nuestros kits DIY y empieza a coser con nosotras. ¡Todo lo que necesitas para empezar tu propio proyecto de crochet y macramé!</p>
        <a href="/productos/22" class="btn btn-success btn-lg" style="font-size: 1.5rem;">Descúbrelos aquí</a>
      </div>//TODO modificar la ruta cuando añada mas articulos 
    </div>
  </main>
  
  
  <div th:fragment="footer" class="mt-5">
    <footer th:fragment="footer" class="mt-auto py-4">
      <div class="d-flex justify-content-center align-items-center flex-wrap text-center">
          <p class="mb-0 me-4">
            Contacto: <a href="mailto:latiendadeinma@gmail.com">LaTiendaDeInma@gmail.com</a> |
            Teléfono: 625 148 329
          </p>
          <a href="https://www.instagram.com/eldragonazulpulseras/" target="_blank" 
            class="instagram-link">
            <img src="/fotos/insta.jpg" alt="Instagram logo" class="instagram-logo">
            Síguenos en Instagram
          </a>
      </div>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>
