<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav th:replace="index::div"></nav>
  <header>
     <div class="text-center"> 
      <h1 class="titulo">
        Contacto
      </h1>
    </div>
  </header>
  <main class="container my-5">
   
    <div class="bg-light p-5 rounded shadow-sm">
      <h3 class="text-center" style="color: #2D4D28;">¿En qué puedo ayudarte?</h3> 
      <p class="fs-4 mt-3 text-center" style="color: #6c757d;"> 
        Si tienes alguna pregunta, duda o necesitas más información, no dudes en ponerte en contacto conmigo. Estaré encantada de ayudarte en lo que necesites.
      </p>
      
      <div class="row text-center mt-4">
        <div class="col-12 col-md-4">
          <h4><i class="fas fa-envelope"></i> Correo Electrónico</h4>
          <p><a href="mailto:latiendadeinma@gmail.com" class="fs-5" style="color: #2D4D28;">latiendadeinma@gmail.com</a></p> 
        </div>
        <div class="col-12 col-md-4">
          <h4><i class="fas fa-phone-alt"></i> Teléfono</h4>
          <p> 625148329</p> 
        </div>
        <div class="col-12 col-md-4">
          <h4><i class="fas fa-map-marker-alt"></i> Dirección</h4>
          <p>Calle Galena N2</p>
        </div>
      </div>
      <div class="text-center mt-5">
        <a href="https://www.instagram.com/eldragonazulpulseras/" target="_blank" 
           class="btn btn-success btn-lg rounded-pill px-5 py-3 shadow-lg" style="background-color: #2D4D28;"> 
          <img src="/fotos/insta.jpg" alt="Instagram logo" style="width: 50px; height: 50px; margin-right: 15px;">
          Síguenos en Instagram
        </a>
      </div>
    </div>
  
  </main>
  
  <footer th:replace="base::footer"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

