<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head">
</head>
<link rel="stylesheet" href="/css/productos.css">
<body>
    <nav th:replace="index::div"></nav>
    <header>
        <div class="text-center" > 
            <h1 class="titulo" th:text="${categoria.nombreCategoria}" style="margin-top: 0;"></h1>
            <p class="intro-texto"  th:text="${categoria.descripcionCategoria}"></p>
        </div>
      </header>
    <div class="container mt-5">
        <div class="row">
            <!-- Reemplaza el contenido de los productos dinámicamente con Thymeleaf -->
            <div class="col-md-4 mb-4" th:each="producto : ${productos}">
                <!-- Enlace al producto -->
                <a th:href="@{/producto/{idProducto}(idProducto=${producto.idProducto})}" class="text-decoration-none">
                    <div class="card h-100 shadow-lg border-0 rounded d-flex flex-column mx-auto" 
                         style="background-color: #ffffff; transition: transform 0.2s ease-in-out; height: 440px; width: 320px;">
                        <!-- Imagen del producto -->
                        <div class="d-flex align-items-center justify-content-center" style="height: 260px; overflow: hidden;">
                            <img class="lazyload img-fluid rounded" 
                                 th:attr="data-src=${producto.fotos[0].urlFoto}" 
                                 alt="Foto del producto" 
                                 style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        </div>
                        <!-- Nombre del producto -->
                        <div class="text-center mt-3" style="min-height: 60px;">
                            <h5 class="mb-2" th:text="${producto.nombreProducto}">Nombre del Producto</h5>
                        </div>
                        <!-- Precio del producto -->
                        <div class="mt-auto p-3 text-center">
                            <p class="text-muted mb-0" th:text="'Precio: ' + ${producto.precio} + ' €'" 
                               style="font-size: 1.2rem; font-weight: bold;">Precio: 0 €</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <!-- Incluye el script de Lazysizes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>
    
    <footer th:replace="base::footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    
  </body>
  
  </html>
